.note-content {
    margin-top: 20px;
}

.note-content:hover {
    transition: all 0.3s ease-in;
    background-color: #dfe0e2;
    cursor: pointer;
}

.reminder-toolbar {
    background-color: #101a5a;
    color: white;
}