<md-toolbar class="reminder-toolbar">
    <span fxFlex="1 1 auto">Reminders</span>
    <button md-button (click)="createReminderDialog()">NEW</button>
</md-toolbar>
<md-card>
    <md-card-content>
        <md-card (click)="openDialog(reminderIndex)" class="note-content mat-elevation-z0" *ngFor="let reminder of reminders; let reminderIndex = index">
            <md-card-content>
                <h3>{{ reminder.title }}</h3>
                <p>{{ reminder.description }}</p>
            </md-card-content>
        </md-card>
    </md-card-content>
</md-card>