<md-card class="mat-elevation-z6">
    <md-card-title>
        Reminders
    </md-card-title>
    <md-card-content>
        <md-card>
            <md-card-content>
                <h3>Reminder Title..</h3>
                <p>Some things to buy.</p>
                <ul>
                    <li>Buy an Egg</li>
                    <li>Buy a Milk</li>
                    <li>Cook Omelet</li>
                </ul>
            </md-card-content>
            <md-card-actions>
                <div class="div-spacer"></div>
                <button md-button>DONE</button>
                <button md-button>VIEW</button>
            </md-card-actions>
        </md-card>
    </md-card-content>
</md-card>