<div fxLayout="row">
    <div class="reminder-menu" fxLayoutAlign="start start" fxFlex="1 1 auto">
        <button md-icon-button (click)="editReminder()"><md-icon>edit</md-icon></button>
    </div>
    <div class="reminder-buttons" fxLayoutGap="10px">
        <button *ngIf="reminderEdit" md-button>SAVE</button>
        <button md-icon-button (click)="closeDialog()"><md-icon>close</md-icon></button>
    </div>
</div>
<br />
<md-dialog-content>
    <div fxLayout="column" fxLayoutAlign="center" class="mat-typography">
        <ng-template #showReminder>
            <h2>{{ data.title }}</h2>
            <p class="mat-body-1">{{ data.description }}</p>
            <br />
        </ng-template>
        <div fxLayout="column" *ngIf="reminderEdit; else showReminder">
            <md-input-container color="primary">
                <input type="text" mdInput placeholder="Title" [value]="data.title">
            </md-input-container>
            <md-input-container color="primary">
                <textarea type="text" rows="5" mdInput placeholder="Description">{{ data.description }}</textarea>
            </md-input-container>
        </div>
    </div>
</md-dialog-content>