<div class="reminder-buttons" fxLayoutGap="10px">
    <button md-icon-button (click)="closeDialog()"><md-icon>close</md-icon></button>
</div>
<div fxLayout="column" fxLayoutAlign="center" class="mat-typography">
    <div fxLayout="column">
        <md-input-container color="primary">
            <input #title type="text" mdInput placeholder="Title">
        </md-input-container>
        <md-input-container color="primary">
            <textarea #desc type="text" rows="5" mdInput placeholder="Description"></textarea>
        </md-input-container>
    </div>
    <md-dialog-actions fxLayoutAlign="end end">
        <button md-fab (click)="saveReminder(title.value, desc.value)"><md-icon>save</md-icon></button>
    </md-dialog-actions>

</div>