<div class="reminder-buttons" fxLayoutGap="10px">
    <button md-icon-button (click)="closeDialog()"><md-icon>close</md-icon></button>
</div>
<div fxLayout="column" class="mat-typography">
    <form fxLayout="column" class="field-wrapper">
        <md-form-field>
            <input #title type="text" mdInput placeholder="Title">
        </md-form-field>
        <md-form-field>
            <textarea #desc type="text" rows="5" mdInput placeholder="Description"></textarea>
        </md-form-field>
    </form>
    <md-dialog-actions fxLayoutAlign="end end">
        <button md-fab (click)="saveReminder(title.value, desc.value)"><md-icon>save</md-icon></button>
    </md-dialog-actions>
</div>