<div class="login-card-container">
    <md-card fxLayout="column" fxLayout.xs="column" fxLayout.md="column" fxLayoutAlign>
        <md-card-title fxFlex="100%">Login</md-card-title>
        <md-card-content fxFlex="100%">
            <form class="login-form-container">
                <md-form-field class="input-username">
                    <input #username required mdInput placeholder="User name">
                </md-form-field>
                <br />
                <md-form-field class="input-password ">
                    <input #password required mdInput placeholder="Password " type="password">
                </md-form-field>
                <button (click)="checkUser(username.value, password.value)" class="button-login" fxFlexFill color="primary" md-raised-button type="submit">LOGIN</button>
            </form>
        </md-card-content>
    </md-card>
</div>