<div class="login-card-container">
    <md-card fxLayout="column" fxLayout.xs="column" fxLayout.md="column" fxLayoutAlign>
        <md-card-title fxFlex="100%">Login</md-card-title>
        <md-card-content fxFlex="100%">
            <form class="login-form-container">
                <md-input-container class="input-username">
                    <input required mdInput placeholder="User name">
                </md-input-container>
                <br />
                <md-input-container class="input-password">
                    <input required mdInput placeholder="Password" type="password">
                </md-input-container>
            </form>
        </md-card-content>
        <md-card-actions class="button-login">
            <button fxFlexFill color="primary" md-raised-button>LOGIN</button>
        </md-card-actions>
    </md-card>
</div>