<div class="login-card-container">
    <md-card fxLayout="column" fxLayout.xs="column" fxLayout.md="column" fxLayoutAlign>
        <md-card-title fxFlex="100%">Login</md-card-title>
        <md-card-content fxFlex="100%">
            <form (submit)="checkUser(username.value, password.value)" class="login-form-container">
                <md-input-container class="input-username">
                    <input required mdInput placeholder="User name" #username>
                </md-input-container>
                <br />
                <md-input-container class="input-password ">
                    <input required mdInput placeholder="Password " type="password" #password>
                </md-input-container>
                <button class="button-login" fxFlexFill color="primary" md-raised-button type="submit">LOGIN</button>
            </form>
        </md-card-content>
    </md-card>
</div>