.nav-wrapper {
    position: fixed;
    top: 0;
    left: 0;
    height: 50px;
    width: calc(100%);
    background-color: #303f9f;
    color: white;
    text-decoration: none;
    align-content: space-around;
    z-index: 100;
}

.brand-logo {
    font-size: 1.2em !important;
    flex-grow: 1;
}

.brand-logo a {
    color: white;
    text-decoration: none;
}

.active {
    background-color: #1a237e;
}